<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Crime in Chicago by Police Beats</h2>

      <p>All data collected from <a href="https://data.cityofchicago.org/">
        City of Chicago Data Portal</a>.</p>

      <%= select("Beats", "Beats", @beats, {:include_blank => true}, {:class => 'form-control'}) %>
      <hr />
    </div>
    <div class="col-xs-12 col-md-9" id="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var map = L.map('map').setView([41.82, -87.75], 11);

    // control that shows state info on hover
    var info = L.control();

    // contains severity data
    var severity = <%=raw(@frequency.to_json)%>;

    var levels = <%=raw(@levels.to_json)%>;

    // displays info on severity limits
    var legend = L.control({position: 'bottomright'});

    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        this._div.innerHTML = '<h4>District / Beat</h4>' +
            (props ? 'Beat ' + props.beat + ' has had ' + severity[props.beat] + ' reported crimes in 2014.' : 'Hover over a beat');
    };

    info.addTo(map);

    L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/sat/{z}/{x}/{y}.jpg').addTo(map);

    function style(feature) {
        return {
            weight: 1,
            opacity: 1,
            color: '#000',
            dashArray: '',
            fillOpacity: 0.7,
            fillColor: getColor(severity[feature.properties.beat])
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 1,
            color: '#0F0',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }

        info.update(layer.feature.properties);
    }

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight
        });
    }

    function getColor(d) {
        return d > levels[1] ? '#800026':
               d > levels[2] ? '#BD0026':
               d > levels[3] ? '#FC4E2A':
               d > levels[4] ? '#FEB24C':
                               '#FFEDA0';
    }

    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend');

        div.innerHTML += '<h4>Legend</h4>'

        for (var i = 0; i < levels.length; i++) {
            div.innerHTML +=
                '<i style="background:' + getColor(levels[i]) + '"></i> ' +
                    (levels[i+1] ? levels[i+1]: '0') + '&ndash;' + levels[i] + '<br />';
        }
        return div;
    };

    legend.addTo(map);

    geojson = L.geoJson(policeData, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);
</script>
